<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <display-name></display-name>	
<servlet>
<servlet-name>add</servlet-name>
<servlet-class>web.addEmpServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>add</servlet-name>
<url-pattern>/add</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>listempservlet</servlet-name>
<servlet-class>web.ListEmpServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>listempservlet</servlet-name>
<url-pattern>/list</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>deletempservlet</servlet-name>
<servlet-class>web.DeletEmpServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>deletempservlet</servlet-name>
<url-pattern>/del</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>loadempservlet</servlet-name>
<servlet-class>web.LoadEmpServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>loadempservlet</servlet-name>
<url-pattern>/load</url-pattern>
</servlet-mapping>


<servlet>
<servlet-name>updateempservlet</servlet-name>
<servlet-class>web.UpdateEmpServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>updateempservlet</servlet-name>
<url-pattern>/update</url-pattern>
</servlet-mapping>
</web-app>
