<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="com.tarena.dao.DeptDao">

	<!-- 嵌套查询 -->
	<select id="findById"
		parameterType="java.lang.Integer"
		resultMap="deptMap">
		select * from t_dept where deptno=#{id}
	</select>
	<select id="findEmps"
		parameterType="java.lang.Integer"
		resultType="com.tarena.entity.Emp">
		select * from t_emp where deptno=#{deptno}
	</select>
	<resultMap type="com.tarena.entity.Dept" id="deptMap">
		<id property="deptno" column="deptno"/>
		<collection property="emps" column="deptno"
			javaType="java.util.ArrayList" 
			select="findEmps" ofType="com.tarena.entity.Emp">
		</collection>
	</resultMap>
	
	<!-- 嵌套结果 -->
	<select id="findById2"
		parameterType="java.lang.Integer"
		resultMap="deptMap2">
		select d.*,e.* from t_dept d 
		inner join t_emp e on d.deptno=e.deptno
		where d.deptno=#{id}
	</select>
	<resultMap type="com.tarena.entity.Dept" id="deptMap2">
		<id property="deptno" column="deptno"/>
		<result property="dname" column="dname"
			jdbcType="VARCHAR" javaType="string"/>
		<result property="loc" column="loc"
			jdbcType="VARCHAR" javaType="string"/>		
		<collection property="emps" ofType="com.tarena.entity.Emp"
			javaType="java.util.ArrayList" column="deptno">
			<id property="empno" column="empno"/>
			<result property="ename" column="ename"/>
			<result property="job" column="job"/>
			<result property="mgr" column="mgr"/>
			<result property="hiredate" column="hiredate"/>
			<result property="sal" column="sal"/>
			<result property="comm" column="comm"/>
			<result property="deptno" column="deptno"/>			
		</collection>
	</resultMap>	
	
</mapper>