<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="com.tarena.dao.EmpMapper">
	<insert id="save" parameterType="com.tarena.entity.Emp">
	<selectKey keyProperty="empno" order="BEFORE" resultType="java.lang.Integer">
	select emp_seq.nextval from dual
	</selectKey>
	insert into t_emp values(
	#{empno},
	#{ename,jdbcType=VARCHAR},
	#{job,jdbcType=VARCHAR},
	#{mgr,jdbcType=NUMERIC},
	#{hiredate,jdbcType=DATE},
	#{sal,jdbcType=NUMERIC},
	#{comm,jdbcType=NUMERIC},
	#{deptno,jdbcType=NUMERIC}
	)
	</insert>
	<select id="findById" parameterType="java.lang.Integer" 
	resultMap="empMap">
	select * from t_emp where empno=#{id}
	</select>
	
	<select id="findDept" parameterType="java.lang.Integer"
	resultType="com.tarena.entity.Dept">
	select * from t_dept where deptno=#{deptno}
	</select>
	<resultMap type="com.tarena.entity.Emp" id="empMap">
	<association property="dept" 
	column="deptno"
	javaType="com.tarena.entity.Dept"
	select="findDept">
	</association>
	</resultMap>
	<select id="findById2"
	parameterType="java.lang.Integer"
	resultMap="empMap2">
	select * from t_emp e
	inner join t_dept d on e.deptno=d.deptno 
	where e.empno=#{id}
	</select>
	<resultMap type="com.tarena.entity.Emp" id="empMap2">
	<id property="empno" column="empno"/>
	<result property="ename" column="ename"/>
	<result property="job" column="job"/>
	<result property="mgr" column="mgr"/>
	<result property="hiredate" column="hiredate"/>
	<result property="sal" column="sal"/>
	<result property="comm" column="comm"/>
	<result property="deptno" column="deptno"/>	
	<association property="dept"
	javaType="com.tarena.entity.Dept">
	<id property="deptno" column="deptno"></id>
	<result property="dname" column="dname"/>
		<result property="loc" column="loc"/>	
	</association>
	</resultMap>
</mapper>